<div id="slider" class="slider-big-create create-post">
	<h1> El conocimiento nos hace responsables </h1>
</div>

<form class="create-post-landing" #postForm="ngForm" (ngSubmit)="onSubmit()">

	<div class="create-post">
		<input type="text" placeholder="Titulo" name="title" #title="ngModel" [(ngModel)]="post.title" required/>
		<small class="invalid-field" *ngIf="!title.valid && title.touched" >
			Titulo no valido
		</small>

	</div>

	<div class="create-content">

		<textarea id="post-content" name="content" #content="ngModel" [(ngModel)]="post.content" required></textarea>
		<small class="invalid-field" *ngIf="!content.valid && content.touched">
			Contenido no valido
		</small>

	</div>

	<div class="create-post">
		<input type="text" placeholder="Autor/a" #author="ngModel" [(ngModel)]="post.author" name="author" required />
		<small class="invalid-field" *ngIf="!author.valid && author.touched">
			Autor/a no valido
		</small>
	</div>

	<label class="image-upload-container btn btn-bwm">
		<p></p>
		<input placeholder="Cargar Imagen" #imageInput type="file" accept="image/*" (change)="uploadImages(imageInput)">
		<p></p>
	</label>

	<div class="clearfix"></div>

	<input type="submit" value="Crear post" class="btn btn-success" [disabled]="postForm.invalid" />

</form>
