<header id="header">
	<div class="center">
		<!-- LOGO -->
		<div id="logo">
			<img src="assets/images/vanlifer-completo-header.jpg" class="app-logo" alt="Logotipo" />
		</div>

		<!-- MENU -->
		<nav id="menu" class="navbar">

			<a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="expandNavbar()">&#9776;</a>

			<a class="admin-button" *ngIf="!isAuthenticated" (click)="login()" href="javascript:void(0)">Log In <i class="fa fa-user-circle"></i></a>
			<a class="admin-button" *ngIf="isAuthenticated" (click)="logout()" href="javascript:void(0)">Log Out <i class="fa fa-user-times"></i></a>

			<a href="#">Servicios</a>
			
			<a href="/blog">Blog</a>

			<a href="https://www.instagram.com/brendalternative/" class="fa fa-instagram"></a>


		</nav>
		<!-- LIMPIAR FLOTADOS -->
		<div class="clearfix"></div>
	</div>
	

</header>