<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/vanlifer-completo-header.jpg" class="app-logo" alt="Logotipo" />
        </div>

        <!-- MENU -->
        <nav id="menu" >
            <ul>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="#">Nosotros</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/brendalternative/" class="fa fa-instagram"></a>
                </li>
                <li>
                    <button mat-button *ngIf="!isAuthenticated" (click)="login()"><i class="fa fa-user-circle"></i></button>
                    <button mat-button *ngIf="isAuthenticated" (click)="logout()"><i class="fa fa-user-times"></i></button>
                </li>


            </ul>
        </nav>
        <!-- LIMPIAR FLOTADOS -->
        <div class="clearfix"></div>
    </div>

</header>